html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color:  #AEC6CF;
  font-family: 'Courier New', sans-serif;
  font-size: 15px;
  color: pink;
    
}

#wrapper{
    overflow: hidden;
    width: 1200px;
    background-color: pink;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
header{
    width: 1200px;
    float: left;
    display: inline-block;
    background-color: #333;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    padding-left: 50px;
}
nav{
    margin: 0 auto;
    text-align: center;
    float: right;
    margin-right: 100px;
}
#main{
  width: 650px;
  height: 378px;
  padding: 20px 50px;
  margin: 50px 50px 25px 50px;
  float: left;
  display: inline-block;
  background-color: #333;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

#mainA{
  width: 1000px;
  height: 318px;
  padding: 50px;
  margin: 0 50px 25px 50px;
  float: left;
  display: inline-block;
  background-color: #333;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

#aside{
  width: 300px;
  height: 418px;
  float: left;
  margin-top: 50px;
  display: inline-block;
  background-color: #333;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
#section{
  width: 250px;
  height: 200px;
  padding: 50px;
  margin: 25px 0 50px 50px;
  float:left;
  display: inline-block;
  background-color: #333;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
#section2{
  width: 300px;
  height: 300px;
  margin: 25px 0 50px 50px;
  float:left;
  display: inline-block;
  background-color: #333;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}
footer{
  width: 1200px;
  height: 50px;
  display: inline-block;
  background-color: #333;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}
section li{
    margin-top: 15px;
}
main a:visited, main a:link{
    color: pink;
    background-color: #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   
}
main a:hover, main a:active{
   color: #333;
   background-color: pink;
   transition-duration: .4s; 
}
section a:visited, section a:link {
    color:pink;
}
section a:hover, section a:active{
    color: #AEC6CF;
    transition-duration: .4s;
}

header h1{
    float:left;
}

ul{
  list-style-type:none;
  overflow: hidden;
}
nav li{
    float: left;
}
nav li a{
    display: block;
}
nav li a:link, nav li a:visited {
    background-color: pink;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
nav li a:hover, nav li a:active {
    background-color: #AEC6CF;
    transition-duration: .4s;
}
button{
    border:none;
    background-color: pink;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
button:hover{
    background-color: deeppink;
}
table{
   border-collapse: collapse;    
}
table, td, tr {
   border-bottom: 1px solid pink;
   color: pink;
    padding: 5px;
   
}
hr {
    float: left;
    width: 1100px;
    margin: 0 50px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}